html{
    font-family: 'Quicksand', san-serif;
    font-size: 1rem;
    background-color: #48CFAD;
 
}

.brand-logo{
    padding-left: 20px !important;
    color: #48CFAD !important;
}

.input-field, input{
    margin: 0 !important;
}

.nav-wrapper{
    background-color: black;
    
}

.card, .card-reveal{
    background-color: black !important;
    color: #48CFAD !important;
    overflow: hidden !important;
}

input, span, i{
    color: #48CFAD !important;
}